language: swift
osx_image: xcode10.1

branches:
  only:
    - master
    - /v\d+\.\d+[a-z]/
env:
  - LC_CTYPE=en_US.UTF-8 LANG=en_US.UTF-8
before_install:
  - rvm install ruby-2.2.2
  - gem install cocoapods
  - gem install xcpretty -N
  - brew update
script:
  - set -o pipefail
  - xcodebuild -workspace Lab_works/Lab_works.xcworkspace -scheme Lab_works -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty -c
  - xcodebuild -scheme Lab_works archive
deploy:
  provider: releases
  tag_name: $TRAVIS_TAG
  target_commitish: $TRAVIS_COMMIT
  name: $TRAVIS_TAG
  api_key: '$GITKEY'
  git : Lab_works.xcodeproj
  skip_cleanup: true
  on:
     tags: true
     all_branches: true